@import "tailwindcss";

@theme {
  --color-primary: #f3c623;
  --color-background: #030303;

  --shadow-primary: 4px 4px 0px 0px #f3c623;
  --shadow-background: 4px 4px 0px 0px #030303;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer base {
  html {
    font-family: "Open Sans", sans-serif;
  }
}
